streamlit
streamlit-autorefresh
pandas
numpy
requests
tradingview-screener
aiohttp
aiosqlite
tqdm
beautifulsoup4
lxml
html5lib
yfinance
openpyxl
xlrd
gspread
oauth2client
python-dateutil
pytz
pillow
pyyaml
python-dotenv
ta
